
!    *----------------------------*
!    |  Dotfiles  -  .Xresources  |
!    *----------------------------*

Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: false
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4

! !*fading: 35
! !*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! rofi.color-enabled: true
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%
! rofi.line-margin: 31
! rofi.font: Roboto Light 30
! rofi.padding: 168
rofi.fullscreen: true
! rofi.display-drun: 
! rofi.display-window: win
! rofi.display-combi: myprompt
rofi.color-enabled: true
! rofi.separator-style: none
rofi.color-window: argb:B3222222, argb:B3222222, argb:00222222
rofi.color-normal: argb:00000000, nord4, argb:00000000, argb:00000000, nord10
rofi.color-urgent: argb:00000000, nord11, argb:00000000, argb:00000000, nord10
rofi.color-active: argb:00000000, nord10, argb:00000000, argb:00000000, nord10

rofi.font: System San Francisco Display 20
! rofi.font: Quicksand 20
! rofi.fg: argb:00ffffff
rofi.eh: 1
rofi.line-margin: 20
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 7
rofi.width: 50
rofi.padding: 200
rofi.bw: 0 
rofi.auto-select: false 
rofi.fuzzy: true
rofi.scroll-method: 1
rofi.window-format: {w:5} {t}
rofi.mesg: "hello"
! rofi.show-icons: true

! :======== urxvt ========= 

! font 
URxvt.font: xft:Source Code Pro Medium:size=12

! disable scrollbar
URxvt.scrollBar: 	false

! disable default shift keybinds
URxvt.iso14755: 	false
URxvt.iso14755_52: 	false

! letter spacing
URxvt.letterSpace: 	-1

! copy paste keybinds
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! padding
URxvt.internalBorder:  20
