Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: false
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! -- Title:   chaires 
! -- Author:  dkeg
! -- Created: 2016

#define bg    #383844
#define fg    #cdc5b7
#define blk   #3a3a45
#define bblk  #4f4f60
#define red   #a7664a
#define grn   #6e8c6e
#define ylw   #cba264
#define blu   #535f6b
#define mag   #775a62
#define cyn   #576e68
#define wht   #cdc5b7
#define bred  #a7664a
#define bgrn  #6e8c6e
#define bylw  #cba264
#define bblu  #535f6b
#define bmag  #775a62
#define bcyn  #576e68
#define bwht  #cdc5b7

! Colors
*background:   bg
*foreground:   fg

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      bred
*color2:      grn
*color10:     bgrn
*color3:      ylw
*color11:     bylw
*color4:      blu
*color12:     bblu
*color5:      mag
*color13:     bmag
*color6:      cyn
*color14:     bcyn
*color7:      wht
*color15:     bwht

!------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! rofi.color-enabled: true
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%
! rofi.line-margin: 31
! rofi.font: Roboto Light 30
! rofi.padding: 168
rofi.fullscreen: true
! rofi.display-drun: 
! rofi.display-window: win
! rofi.display-combi: myprompt
rofi.color-enabled: true
! rofi.separator-style: none
rofi.color-window: argb:B3222222, argb:B3222222, argb:00222222
rofi.color-normal: argb:00000000, #fb4934, argb:00000000, argb:00000000, #458588
rofi.color-urgent: argb:00000000, #fb4934, argb:00000000, argb:00000000, #458588
rofi.color-active: argb:00000000, #458588, argb:00000000, argb:00000000, #458588

rofi.font: System San Francisco Display 20
! rofi.fg: argb:00ffffff
rofi.eh: 1
rofi.line-margin: 20
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 7
rofi.width: 50
rofi.padding: 200
rofi.bw: 0 
rofi.auto-select: false 
rofi.fuzzy: true
rofi.scroll-method: 1
rofi.window-format: {w:5} {t}
rofi.mesg: "hello"

! ======== urxvt ========= 

! font 
URxvt.font: xft:Roboto Mono Medium:size=12

! disable scrollbar
URxvt.scrollBar: 	false

! disable default shift keybinds
URxvt.iso14755: 	false
URxvt.iso14755_52: 	false

! letter spacing
URxvt.letterSpace: 	0

! copy paste keybinds
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! padding
URxvt.internalBorder:  20
